### Mac ###
.DS_Store

### Django ###
*.log
*.pot
*.pyc
local_settings.py
*.pyc
*.swp
*.swo
*.bz
*.b
*.db
.idea
.vagrant
local.py
db.sqlite3
media
.vs
node_modules

__pycache__/
appspot/__pycache__/
appspot/addresses/__pycache__/
appspot/assignments/__pycache__/
appspot/auto_text_fields/__pycache__/
appspot/auto_texts/__pycache__/
appspot/case_contacts/__pycache__/
appspot/case_equipments/__pycache__/
appspot/case_expenses/__pycache__/
appspot/case_sequences/__pycache__/
appspot/case_status/__pycache__/
appspot/case_types/__pycache__/
appspot/case_videos/__pycache__/
appspot/companies/__pycache__/
appspot/contractor_rates/__pycache__/
appspot/emails/__pycache__/
appspot/expense_types/__pycache__/
appspot/genders/__pycache__/
appspot/investigative_cases/__pycache__/
appspot/invoice_items/__pycache__/
appspot/invoice_terms/__pycache__/
appspot/invoices/__pycache__/
appspot/mikes_ds/__pycache__/
appspot/notes/__pycache__/
appspot/notes_headers/__pycache__/
appspot/objectives/__pycache__/
appspot/omc_tickets/__pycache__/
appspot/payments/__pycache__/
appspot/person/__pycache__/
appspot/phone_numbers/__pycache__/
appspot/prefixes/__pycache__/
appspot/races/__pycache__/
appspot/relationships/__pycache__/
appspot/stripe_cc/__pycache__/
appspot/subject_images/__pycache__/
appspot/suffixes/__pycache__/
appspot/time_clock/__pycache__/
appspot/update_medias/__pycache__/
appspot/update_options/__pycache__/
appspot/update_types/__pycache__/
appspot/updates/__pycache__/
appspot/users/__pycache__/
appspot/vehicles/__pycache__/
appspot/word_zip_files/__pycache__/

appspot/addresses/migrations/__pycache__/
appspot/assignments/migrations/__pycache__/
appspot/auto_text_fields/migrations/__pycache__/
appspot/auto_texts/migrations/__pycache__/
appspot/case_contacts/migrations/__pycache__/
appspot/case_equipments/migrations/__pycache__/
appspot/case_expenses/migrations/__pycache__/
appspot/case_sequences/migrations/__pycache__/
appspot/case_status/migrations/__pycache__/
appspot/case_types/migrations/__pycache__/
appspot/case_videos/migrations/__pycache__/
appspot/companies/migrations/__pycache__/
appspot/contractor_rates/migrations/__pycache__/
appspot/emails/migrations/__pycache__/
appspot/expense_types/migrations/__pycache__/
appspot/genders/migrations/__pycache__/
appspot/investigative_cases/migrations/__pycache__/
appspot/invoice_items/migrations/__pycache__/
appspot/invoice_terms/migrations/__pycache__/
appspot/invoices/migrations/__pycache__/
appspot/mikes_ds/migrations/__pycache__/
appspot/notes/migrations/__pycache__/
appspot/notes_headers/migrations/__pycache__/
appspot/objectives/migrations/__pycache__/
appspot/omc_tickets/migrations/__pycache__/
appspot/payments/migrations/__pycache__/
appspot/person/migrations/__pycache__/
appspot/phone_numbers/migrations/__pycache__/
appspot/prefixes/migrations/__pycache__/
appspot/races/migrations/__pycache__/
appspot/relationships/migrations/__pycache__/
appspot/stripe_cc/migrations/__pycache__/
appspot/subject_images/migrations/__pycache__/
appspot/suffixes/migrations/__pycache__/
appspot/time_clock/migrations/__pycache__/
appspot/update_medias/migrations/__pycache__/
appspot/update_options/migrations/__pycache__/
appspot/update_types/migrations/__pycache__/
appspot/updates/migrations/__pycache__/
appspot/users/migrations/__pycache__/
appspot/vehicles/migrations/__pycache__/
appspot/word_zip_files/migrations/__pycache__/